@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-main: rgb(255, 0, 38); /* text, btns */
  --clr-main-70: rgb(255, 240, 243); /* UI-section, footer*/
  --clr-main-50: rgb(255, 224, 229); /* Back Text */
  --clr-main-30: rgb(255, 249, 251); /* Main background color*/

  --clr-pink: rgb(255, 154, 169); /* btns */
  --clr-yellow: rgb(255, 203, 85); /* btns */
  --clr-yellow-lighted: rgb(255, 244, 219); /* btns */
  --clr-gray: rgb(228, 229, 234); /* btns */
  --clr-gray-darked: rgb(180, 180, 181); /* btns */
}


@layer base {
  *,
  ::before,
  ::after {
    @apply transition-all;
  }
  
  *::-webkit-scrollbar {
    @apply w-2 bg-mainColor50;
  }
  
  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-mainColor hover:bg-red-400 active:bg-red-700;
  }
  
  ::selection {
    @apply !bg-mainColor !text-white
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-mainColor30 font-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply capitalize font-bold font-sans;
  }

  h1 {
    @apply  text-xl text-mainColor;
  }

  h2 {
    @apply  text-2xl lg:text-4xl !leading-[1.5];
  }

}


@layer components {
  .container {
    @apply mx-auto px-5 max-w-7xl;
  }
  
  .btn-main {
    @apply py-3 px-5 bg-mainColor text-white rounded-md lg:text-2xl hover:bg-red-700 font-serif;
  }

  .animation-card {
    animation: card-animate 150ms ease-in 0ms  forwards;
    transform: translateX(100%)
  }
}



@keyframes card-animate {
  0% {
    clip-path: ellipse(1% 1%);
  } 100% {
    transform: translateX(0);
    clip-path: ellipse(100% 100%);
  }
}