.footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 25px 40px;
    gap: 40px;
    text-align: center;
    margin-top: 100px !important;
}

.footer__body img {
    width: 200px;
}

.footer__body p {
    font-size: 28px;
    font-family: var(--font-base)
}